spring.application.name=cinema

server.port=5000
server.servlet.context-path=/api-dev

spring.datasource.url=jdbc:postgresql://localhost:5432/YOUR_DB_NAME
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD
spring.datasource.hikari.connection-timeout=20000
spring.datasource.hikari.maximum-pool-size=10

logging.level.org.springframework=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

spring.jackson.serialization.write-dates-as-timestamps=false

